<div class="row" >
  <div class="col-xs-6" ng-controller="AssignmentCtrl">
    <div class="page-header">
      <h3>Assignments</h3>
    </div>
    <ul>
      <li ng-repeat="assignment in assignments">
        <h4>{{assignment.name}}</h4>
      </li>
    </ul>
    <a class="btn btn-default btn-dasabled">Add assignment</a>
  </div>

  <div class="col-xs-6" ng-controller="AssignmentCtrl">
    <div class="container">
      <div class="well">
        <div class="page-header">
          <h3>Add assignment:</h3>
        </div>
        <form ng-submit="addThenHome(assignmentName)">
          <div class=form-group>
            <input type="text" ng-model="assignmentName">
          </div>
          <button action="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
