<div ng-controller="ReporterCtrl">
  <div>
    <h4>Add reporter to <em>{{assignment.name}}</em></h4>
    <form ng-submit="addReporterThen(repName, repYears, repBday)"
      class="form-horizontal well">
      <div class="form-group">
        <label for="name">Name
          <input ng-model="repName" type="text" name="name" class="form-control">
        </label>
      </div>
      <div class="form-group">
        <label for="years">Years of service
          <input ng-model="repYears" type="number" name="years" class="form-control">
        <label>
      </div>
      <div class="form-group">
        <label for="bday">Birthday
          <input ng-model="repBday" type="date" name="bday" class="form-control">
        <label>
      </div>
      <button type="submit" class="btn btn-xs btn-danger">Add to <em>{{assignment.name}}</em></button>
    </form>
  </div>
</div>
