<div class="row" ng-controller="AssignmentCtrl">
  <div>
      <label for="search">
        <h4>Search Assignments
          <input ng-model="search" name="search">
        </h4>
      </label>
    <h4 class="page-header">Matching Assignments <span class="badge">{{found.length}}</span></h4>
    <ul>
      <li ng-repeat="assignment in found = (assignments | filter:search)">
        <h5><a ng-click="assignment.show = !assignment.show">{{assignment.name}}</a></h5>
          <div ng-show="assignment.show">
            <h6 ng-show="assignment.reporters.length">
              Reporters
              <span class="badge">{{assignment.reporters.length}}</span>
            </h6>
            <ul>
              <li ng-repeat="reporter in assignment.reporters">
                  <a ui-sref="detailReporter({assignmentId: assignment.id, reporterId: reporter.id})">{{reporter.name}}</a>
              </li>
              <li>
                <a ui-sref="addReporter({assignmentId: assignment.id})"
                  class="btn btn-warning">
                  Add reporter
                </a>
              </li>
            </ul>
          </div>
      </li>
    </ul>
    <br>
    <button ng-click="toggleAssignmentForm()" class="btn btn-primary">
      Add assignment
    </button>

    <div ng-show="assignmentForm">
      <form class="well">
        <h6>Add assignment:</h6>
        <div class=form-group>
          <input type="text" ng-model="assignmentName" class="form-control">
        </div>
        <button ng-click="addAssignmentThen()" class="btn btn-info">Add</button>
      </form>
    </div>
  </div>

</div>
