<div class="row">

  <div class="col-xs-6" ng-controller="AssignmentCtrl">
    <div class="page-header">
      <h3>Assignments</h3>
    </div>
    <ul>
      <li ng-repeat="assignment in assignments">
        <h4><a ng-click="">{{assignment.name}}</a></h4>
          <ul>
              <li ng-repeat="reporter in assignment.reporters">
                  {{reporter.name}}
              </li>
          </ul>
      </li>
    </ul>
    <br>
    <a ui-sref="addAssignment" class="btn btn-success">Add assignment</a>
  </div>

  <div class="col-xs-6" ng-controller="ReporterCtrl">
    <div class="page-header">
      <h3>Reporters</h3>
    </div>
    <ul>
        <li ng-repeat="reporter in reporters">
          <h4><a>{{reporter.name}}<a></h4>
        </li>
    </ul>
    <br>
    <a ui-sref="addReporter" class="btn btn-success">Add reporter</a>
  </div>

</div>
